/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Hi+Melody&display=swap');

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: rgb(215, 241, 173);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    padding-top: 17px;
    text-align: center;
    color:rgb(60, 150, 130);
    font-family: 'Hi Melody', cursive;
}

.spiel-container  {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (150px)[5];
    grid-template-columns: repeat(5, 150px);
    -ms-grid-rows: (150px)[5];
    grid-template-rows: repeat(5, 150px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
}

.spiel-container > *:nth-child(1)  {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.spiel-container > *:nth-child(2)  {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.spiel-container > *:nth-child(3)  {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.spiel-container > *:nth-child(4)  {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.spiel-container > *:nth-child(5)  {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.spiel-container > *:nth-child(6)  {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.spiel-container > *:nth-child(7)  {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.spiel-container > *:nth-child(8)  {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.spiel-container > *:nth-child(9)  {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
}

.spiel-container > *:nth-child(10)  {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
}

.spiel-container > *:nth-child(11)  {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.spiel-container > *:nth-child(12)  {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

.spiel-container > *:nth-child(13)  {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.spiel-container > *:nth-child(14)  {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
}

.spiel-container > *:nth-child(15)  {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.spiel-container > *:nth-child(16)  {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}

.spiel-container > *:nth-child(17)  {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}

.spiel-container > *:nth-child(18)  {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
}

.spiel-container > *:nth-child(19)  {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
}

.spiel-container > *:nth-child(20)  {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
}

.spiel-container > *:nth-child(21)  {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.spiel-container > *:nth-child(22)  {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
}

.spiel-container > *:nth-child(23)  {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.spiel-container > *:nth-child(24)  {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
}

.spiel-container > *:nth-child(25)  {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.artikel-k {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 3;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
} 

.gegenstand-grid {
    padding-top: 62px;
    margin: 0px;
    background: url(img/koffer.png) center no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (100px)[3];
    grid-template-columns: repeat(3, 100px);
    -ms-grid-rows: (100px)[4];
    grid-template-rows: repeat(4, 100px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
} 

.gegenstand-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
} 

.gegenstand-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
} 

.gegenstand-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
} 

.gegenstand-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
} 

.gegenstand-grid > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
} 

.gegenstand-grid > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
} 

.gegenstand-grid > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
} 

.gegenstand-grid > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
} 

.gegenstand-grid > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
} 

.gegenstand-grid > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
} 

.gegenstand-grid > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
} 

.gegenstand-grid > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
}

.gegenstand {
    text-align: center;
    width:50px;
}

#newGame {
    width: 230px;
    height: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 30px;
    margin-top: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    background-color: rgb(219, 187, 43);
    border-radius:10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#newGame:hover {
    background-color: rgb(155, 182, 38);
}

#newGame:disabled {
    background-color: rgb(126, 126, 126);
}

.image {
    width: 48px;
}

.disabled {
    -webkit-filter: grayscale(0.9);
            filter: grayscale(0.9);
    opacity: 0.5;

}

.gewonnen {
    background-color:rgb(60, 150, 130);
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    width: 330px !important;;
    height: 40px;
    padding-top: 12px;
    border-radius: 10px;
}

.verloren {
    background-color:rgb(230, 64, 43);
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    width: 330px !important;
    height: 40px;
    padding-top: 12px;
    border-radius: 10px;
}

#message {
    margin: 0 auto;
    width: 550px;
    height: 50px;
    color: rgb(77, 75, 75);
    font-size: 18px;
}

.imageSet {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    cursor: pointer;
}

.countdown {
    font-weight: bold;
    padding-top: 20px;
    margin: 0 auto;
    width: 250px;
    height: 40px;
    color: rgb(214, 78, 78);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.visible {
    font-weight: bold;
    padding-top: 20px;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    color: rgb(214, 78, 78);
    font-size: 20px;
}
   
.hidden{
    display: none;
}

.deadline-message {
    display: none;
}

a {
    color: rgb(60, 150, 130);
}

@media (max-width:900px) {
    .spiel-container  {
        margin: 0 auto;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
        -ms-grid-rows: (140px)[7];
        grid-template-rows: repeat(7, 140px);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        justify-items: center;
    
    }
    .spiel-container > *:nth-child(1)  {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    
    }
    .spiel-container > *:nth-child(2)  {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    
    }
    .spiel-container > *:nth-child(3)  {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    
    }
    .spiel-container > *:nth-child(4)  {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    
    }
    .spiel-container > *:nth-child(5)  {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    
    }
    .spiel-container > *:nth-child(6)  {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    
    }
    .spiel-container > *:nth-child(7)  {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    
    }
    .spiel-container > *:nth-child(8)  {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
    
    }
    .spiel-container > *:nth-child(9)  {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    
    }
    .spiel-container > *:nth-child(10)  {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    
    }
    .spiel-container > *:nth-child(11)  {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    
    }
    .spiel-container > *:nth-child(12)  {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
    
    }
    .spiel-container > *:nth-child(13)  {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    
    }
    .spiel-container > *:nth-child(14)  {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    
    }
    .spiel-container > *:nth-child(15)  {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
    
    }
    .spiel-container > *:nth-child(16)  {
        -ms-grid-row: 4;
        -ms-grid-column: 4;
    
    }
    .spiel-container > *:nth-child(17)  {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    
    }
    .spiel-container > *:nth-child(18)  {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    
    }
    .spiel-container > *:nth-child(19)  {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    
    }
    .spiel-container > *:nth-child(20)  {
        -ms-grid-row: 5;
        -ms-grid-column: 4;
    
    }
    .spiel-container > *:nth-child(21)  {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    
    }
    .spiel-container > *:nth-child(22)  {
        -ms-grid-row: 6;
        -ms-grid-column: 2;
    
    }
    .spiel-container > *:nth-child(23)  {
        -ms-grid-row: 6;
        -ms-grid-column: 3;
    
    }
    .spiel-container > *:nth-child(24)  {
        -ms-grid-row: 6;
        -ms-grid-column: 4;
    
    }
    .spiel-container > *:nth-child(25)  {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    
    }
    .spiel-container > *:nth-child(26)  {
        -ms-grid-row: 7;
        -ms-grid-column: 2;
    
    }
    .spiel-container > *:nth-child(27)  {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    
    }
    .spiel-container > *:nth-child(28)  {
        -ms-grid-row: 7;
        -ms-grid-column: 4;
    
    }
    .artikel-k {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-row-span: 3;
        grid-row-end: 6;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 4;
        grid-column-end: 5;
    } 
    .imageSet {
      width:60px;
    }
}