/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/spartan-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/spartan-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/spartan-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/spartan-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/spartan-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/spartan-v1-latin-regular.svg#Spartan') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/spartan-v1-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/spartan-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/spartan-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/spartan-v1-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/spartan-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/spartan-v1-latin-700.svg#Spartan') format('svg'); /* Legacy iOS */
}

html {
    font-size: 16px;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: rgb(215, 241, 173);
    font-family: 'Spartan', sans-serif;
}

h1 {
    padding-top: 3rem;
    text-align: center;
    color:rgb(60, 150, 130);
}

a {
    color: rgb(60, 150, 130);
}

/* --- New Game Button --- */

#newGame {
    width: 230px;
    height: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    background-color: rgb(219, 187, 43);
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
   padding-top: .6rem;
}

#newGame:hover {
    background-color: rgb(155, 182, 38);
}

#newGame:disabled {
    background-color: rgb(126, 126, 126);
}

/* --- Message  --- */

#message {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    color: rgb(77, 75, 75);
    font-size: 1rem;
}

/* --- Countdown --- */

.countdown {
    font-weight: bold;
    padding-top: 20px;
    margin: 0 auto;
    width: 250px;
    height: 40px;
    color: rgb(214, 78, 78);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.visible {
    font-weight: bold;
    padding-top: 20px;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    color: rgb(214, 78, 78);
    font-size: 20px;
}
   
.hidden{
    display: none;
}

.deadline-message {
    display: none;
}

/* --- Spiel-Container  --- */

.spiel-container  {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    justify-content: center;
}

/* --- Koffer --- */

.artikel-k {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 3;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
} 

/* --- Grid mit Gegenständen --- */

.gegenstand-grid {
    padding-top: 62px;
    margin: 0;
    background: url(img/koffer.png) center no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
} 

/* --- Gegenstände, die zufällin im Koffer angezeigt werden --- */

.gegenstand {
    text-align: center;
    width: 50px;
}

.image {
    width: 48px;
}


/* --- Gegenstände, die bereits gesammelt wurden, werden als disabled angezeigt --- */

.disabled {
    -webkit-filter: grayscale(0.9);
            filter: grayscale(0.9);
    opacity: 0.5;

}

/* --- Message "Gewonnen" --- */

.gewonnen {
    background-color:rgb(60, 150, 130);
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding-top: 14px;
}

/* --- Message "Verloren" --- */

.verloren {
    background-color:rgb(230, 64, 43);
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding-top: 14px;
}

/* --- Alle Images von Gegenständen, die gepackt werden können --- */

.imageSet {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    cursor: pointer;
}


@media (max-width:900px) {

    .spiel-container  {
        margin: 0 auto;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(7, 140px);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        justify-items: center;
    }
   
    .artikel-k {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-row-span: 3;
        grid-row-end: 6;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 4;
        grid-column-end: 5;
    } 

    .imageSet {
      width:60px;
    }
}